.jumbotron {
  background-color: transparent !important;
  padding-top: 1% !important;
  padding-bottom: 1% !important;
}

.title {
  text-align: left;
  color: black;
}
.title_text {
  font-family: "Graduate", cursive;
  vertical-align: middle;
}

.logo {
  margin-left: 4rem;
  margin-right: 2rem;
}

.your-custom-styles tbody tr td {
  font-family: Helvetica;
  font-size: 14px;
}

.your-custom-styles thead tr th {
  font-family: Helvetica;
  font-size: 14px;
}