.container {
  display: flex; 
  height: 100px;
}

.container-a {
  width: 50%; 
  /* background: green; */
}

.container-b {
  flex-grow: 1; 
  font-family: Helvetica;
  font-size: large;
  /* background: blue; */
}
